body{
    background-color: aqua
}
h1;{
    colgroup 
     font-style::-webkit-validation-bubble-arrow-clipper
}

p{
      color: aliceblue
}
h2;{ 
     colgroup
}
h3{
    color: 
}
h4{ 
      color: blue
};